{% extends "datacaptureapp/base.html" %}

{% block content %}

     <BR>
    <h1 class="text-center" style="font-size:min(5vw, 50px);font-family:'Calibri'">Login</h1>
<hr/>
	<BR>

    <div class="form-group">
    <div class="container center_div">

        <form method="post" class="from-group">
            {%  csrf_token %}
            {{ form }}
            <BR>
            <button type="submit" class="btn btn-info" >Login</button>
        {#    <a>Don't have an account? Create one <a href="/register"> here </a> </a>#}
        </form>
    </div>
    </div>


{% endblock %}