 {% extends 'datacaptureapp/base.html' %}

 {% block content %}

     <br>
     <h1 class="text-center" style="font-size:min(5vw, 50px);font-family:'Calibri'">Change password</h1>
     <hr/>
     <br>

     <div class="form-group">
        <div class="container center_div">

             {% if form.errors %}

                <div class='alert alert-danger' role='alert'>
                    <p>{{ form.non_field_errors }}</p>

                    {% for field in form %}
                        {% for error in field.errors %}

                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}

                </div>
            {% endif %}

             <form method="post" class="form-signin">
                {% csrf_token %}

                <label for="old_password">Old password</label>
                <input name="old_password" class="form-control" placeholder="Old password" type="password" autofocus>

                <br>
                <label for="new_password1">New password</label>
                <input name="new_password1" class="form-control" placeholder="New password" type="password" >

                <br>
                <label for="new_password2">Confirm password</label>
                <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" >

                <br>
                <button class="btn btn-info" type="submit">Change password</button>
             </form>
        </div>
     </div>

 {% endblock %}