{% extends "datacaptureapp/base.html" %}

<!--
    This page is shown whenever a HTTP 400 error occurs.
 !-->

{% block content %}

    <br>
    <h1 class="text-center" style="font-size:50px;">Oh no!</h1>
    <p class="text-center">You encountered an error: 400</p>
    <hr/>
    <br>
    <div class ="text-center">
        <img src="https://www.flaticon.com/svg/static/icons/svg/1076/1076770.svg" alt="Complaint icon by Freepik from www.flaticon.com" title="Complaint icon by Freepik from www.flaticon.com" height="200" width="auto">
        <br>
        <br>
        It seems like something was wrong with your request!
        <br>
        <br>
        <br>
        <a onclick="history.back()" class="btn btn-outline-secondary btn-lg">Return to previous page</a>
    </div>

{% endblock %}