{% extends "datacaptureapp/base.html" %}

<!--
    This is the code for the 'About PinPoint' page.
 !-->

{% block content %}
    <br>
    <h1 class="text-center" style="font-size:min(5vw, 50px); font-family:'Calibri'">PinPoint</h1>
    <hr/>
	<br>
<div class="container">
    <p class ="text-center">
       <div class="font-weight-bold"> Development</div>
        <div> The PinPoint is the result of a project from the minor Geographic Information Systems at the University of Twente.
         It is developed by the following group of students:
          Wouter Suidgeest, Steven Tazelaar, Gijs Koehorst, Rebeka Zanechalová and Carlijn Meijerink. </div>
        <br>
        <div class="font-weight-bold"> Open Source </div>
        <div> This project is developed using the django and bootstrap framework, for the database sqlite is used.
            The project had been made open source and can be found on the following git: TODOO. </div>

    </p>
</div>
{% endblock %}