{% extends "datacaptureapp/base.html" %}

{% block content %}
  <BR>
    <h1 class="text-center">Add Data</h1>
	<BR>

  <form action="../project">
  <div class="form-group">

      <div class="container center_div">
           <div class="form-group">
        <label for="ProjectDescription">Name [Oak, Pine Tree]</label>
        <input  class="form-control" id="ProjectDescription">
      </div>
        <label for="ProjectName">Heigh</label>
        <input  class="form-control" id="ProjectName">
<BR>
          <button  type="submit" class="btn btn-primary">Submit</button>
  </div>
  </div>
</form>

{% endblock %}