{% extends "datacaptureapp/base.html" %}

{% block content %}
  <BR>
    <h1 class="text-center display-4">Add Data</h1>
<hr/>
	<BR>

    <div class="form-group">

        <div class="container center_div">
            <form method="POST" id="storeDataPoint">

                <div class="form-group">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="form-control" type="hidden" id="latitude" name="latitude">
                    <input class="form-control" type="hidden" id="longitude" name="longitude">
                </div>

                <BR>

                <button type="button" onclick="onSubmit()" class="btn btn-primary">Store data point</button>
            </form>

        </div>
    </div>

    <script>
        function onSubmit() {
            var iLat = document.getElementById('latitude');
            if (!iLat.value) {
                getLocation();
                return false;
            }
        }

        function recordPosition(position) {
            var iLat = document.getElementById('latitude');
            var iLong = document.getElementById('longitude');
            iLat.value = position.coords.latitude;
            iLong.value = position.coords.longitude;
            iLat.form.submit();
        }

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(getLocation_success, getLocation_error);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        function getLocation_success(pos) {
            //showPosition(pos);
            recordPosition(pos);
        }

        function getLocation_error(err) {
            console.warn('ERROR(' + err.code + '): ' + err.message);
        }

    </script>

{% endblock %}