{% extends "datacaptureapp/base.html" %}

<!--
   This page deals with editing the the name and description of a certain attribute
 !-->


{% block content %}
    <h3 id="helpIcon" tabindex="0" class="pull-right" data-toggle="popover" style="margin-left:5px"
        data-placement="left" data-trigger=focus" aria-hidden=true" data-html="true"
        title="Adding Data"
        data-content="<b>Edit attribute</b> <br>
        On this page you can edit the name and description of an attribute. <br>
        Leaving a field empty keeps the value unchanged. <br>
        Changing the type of an attribute is not possible.
        <br>">
        <span class="fa fa-question-circle" style="color:grey; margin-right:10px"></span>
    </h3>
    <br>
    <h1 class="text-center" style="font-size:min(5vw, 50px);font-family:'Calibri'">Edit Attribute</h1>
    <hr/>
    <div class="form-group">
        <div class="container center_div">
            <form method="POST" id="storeDataPoint" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <div class="container center_div">
                        <br>
                        <div class="form-group">
                            <label for="name">Attribute Name</label>
                            <input type="text" name="name" class="form-control"
                                   placeholder="{{ attribute.name }}" id="name">
                        </div>
                        <div class="form-group">
                            <label for="description">Attribute Description</label>
                            <textarea name="description" cols="40" rows="10" class="form-control"
                                      placeholder="{{ attribute.description }}" id="description"></textarea>
                        </div>
                        <button  type="submit" class="btn btn-info"> Save Edits</button>
                        <a href="../" class="btn btn-outline-danger">Return to overview</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

