{% extends "datacaptureapp/base.html" %}

{% block content %}
    <h3 id="helpIcon" tabindex="0" class="pull-right" data-toggle="popover" style="margin-left:5px"
        data-placement="left" data-trigger=focus" aria-hidden=true" data-html="true"
        title="Adding Data"
        data-content="<b>Edit the data of a point</b> <br>
        Edit the previously entered values of a point and save the new values. <br>
        Leaving a field empty keeps the value unchanged.
        <br>">
        <span class="fa fa-question-circle" style="color:grey; margin-right:10px"></span>
    </h3>
    <h1 class="text-center display-4">Edit Data</h1>
    <hr/>
    <br>
    <div class="form-group">
        <div class="container center_div">
            <form method="POST" id="storeDataPoint">
                <div class="form-group">
                    <div class="container center_div">
                        {% csrf_token %}
                        {% for data in datas %}
                            <br>
                            <label for="name">{{ data.attribute.name }}</label>
                            <input type="{{ data.attribute.type }}" name="{{ data.attribute.name }}" class="form-control"
                                   placeholder="{{ data.value }}" id="{{ data.attribute.name }}">
                        {% endfor %}
                        <br>
                        <button type="submit" class="btn btn-info">Store data point</button>
                        <button class="btn btn-outline-danger" onclick="location.href.replace('..../')">Return to overview</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

