{% extends "datacaptureapp/base.html" %}

{% block content %}
  <BR>
    <h1 class="text-center display-4">{{ user.username }}'s profile</h1>
<hr/>
	<BR>
    <div class="container">
        <img src="../images/profilepic.png" width="236" height="236">
    </div>


	<div class="container">
    <BR>
    <button type="button" class="btn btn-link">Change profile picture</></button>
  <BR>
        <BR>

      <div class="row-justify-content-center">
    <div class="col sm auto">
        <table class="table table-center table-unbordered  text-muted">
  <tbody>
    <tr>
      <th scope="row">Username</th>
      <td>{{user.username}}</td>
        <td type="button" class="btn btn-link">Change username</></td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td>{{user.email}}</td>
        <td type="button" class="btn btn-link">Change email</></td>

    </tr>
    <tr>
      <th scope="row">Password</th>
      <td> -</td>
        <td type="button" class="btn btn-link">Change password</></td>

    </tr>


  </tbody>
</table>
    </div>
</div>
    </div>

   <div class="text-center">
     <a href="../profile" type="button" class="btn btn-info">Save changes</a>


      </div>

{% endblock %}