{% extends "datacaptureapp/base.html" %}

<!--
   This page deals with editing the data from previous recorded points. It gets the current value from the database and changes it on request.
 !-->


{% block content %}
    <h3 id="helpIcon" tabindex="0" class="pull-right" data-toggle="popover" style="margin-left:5px"
        data-placement="left" data-trigger=focus" aria-hidden=true" data-html="true"
        title="Adding Data"
        data-content="<b>Edit the data of a point</b> <br>
        Edit the previously entered values of a point and save the new values. <br>
        Leaving a field empty keeps the value unchanged.
        <br>">
        <span class="fa fa-question-circle" style="color:grey; margin-right:10px"></span>
    </h3>
    <br>
    <h1 class="text-center" style="font-size:min(5vw, 50px);font-family:'Calibri'">Edit Data</h1>
    <hr/>
    <div class="form-group">
        <div class="container center_div">
            <form method="POST" id="storeDataPoint" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="container center_div">
                        {% csrf_token %}
                        <label for="name">Latitude</label>
                        <input type="number" name="latitude" class="form-control"
                               placeholder="{{ node.latitude }}" id="latitude">
                        <br>
                        <label for="name">Longitude</label>
                        <input type="number" name="longitude" class="form-control"
                               placeholder="{{ node.longitude }}" id="longitude">
                        {% for data in datas %}
                            <br>
                            <label for="name">{{ data.attribute.name }}</label>
                            <input type="{{ data.attribute.type }}" name="{{ data.attribute.name }}" class="form-control"
                                   placeholder="{{ data.value }}" id="{{ data.attribute.name }}">
                        {% endfor %}
                        <br>
                        <div class="custom-file">
                            <input type="file" name="picture" accept="image/*" id="id_picture" hidden="hidden">
                            <button type="button" id="picture-button" class="btn btn-dark">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-image"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10l2.224-2.224a.5.5 0 0 1 .61-.075L8 11l2.157-3.02a.5.5 0 0 1 .76-.063L13 10V2a1 1 0 0 0-1-1H4z"></path>
                                    <path fill-rule="evenodd" d="M6.502 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"></path>
                                </svg>
                                Picture
                            </button>
                            <span id="chosen-file">{{ node.picture|default:"No picture chosen" }}</span>
                        </div>
                        <br>
                        <br>
                        <button type="submit" class="btn btn-info">Store data point</button>
                        <a href="../../" class="btn btn-outline-danger">Return to overview</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% load static %}
    <script type="text/javascript" src="{% static '/javascript/upload-picture.js' %}"></script>

{% endblock %}

