{% extends "datacaptureapp/base.html" %}

<!--
    This page displays the most frequently asked questions about GeoApp.
 !-->


{% block content %}
  <br>
    <h1 class="text-center" style="font-size:min(5vw, 50px); font-family:'Calibri'">Frequently Asked Questions</h1>
  <br>
<hr/>
<div class="container">
<p class ="text-center">
    <div class="font-weight-bold">What is a project?</div>
    <div>Project allows you to focus on certain objects, for example trees, for which you can collect geographical data points and attributes. You are then able to view the objects on a map and export the geographical data and attribute values.</div>
    <br>
    <div class="font-weight-bold">What is an attribute?</div>
    <div>An attribute is a certain characteristic of the object of focus. For example, if a project is focused on trees an attribute can be type or height of a tree.</div>
    <br>
    <div class="font-weight-bold">What types of attributes can be added to a project?</div>
    <div>Text and number. For example if the project is focused on trees, a text attribute can be type of a tree, a number attribute can be the height of a tree.</div>
    <br>
    <div class="font-weight-bold">How to add an attribute when the project is already created?</div>
    <div>Once the project is created it is no longer possible to add new attributes to the project. In that case it is neccessary to create a new project with all the required attributes.</div>
    <br>
    <div class="font-weight-bold">How to add other users to work on my project?</div>
    <div>In the case that your project is a private project you can add a user by going to the 'Project Team' page adding them via email. When your project is public other user can search through the open projects and add themselves as a user. </div>
    <br>
    <div class="font-weight-bold">How to remove a user from your project?</div>
    <div>In order to remove a user from you rproject you need to open your project, go to 'project team' and remove the email address of that user from the list.</div>
    <br>
    <div class="font-weight-bold">What does it mean that project is private or public?</div>
    <div>A private project is your own project that you created and did not share with anyone so it is not possible for anyone to access it on their own. You can still add members to collaborate with you on the project while it is private. Public project means that anyone is able to access the project and collaborate. You are however still the owner of the project and can decide anytime whether the project is private or public.</div>
    <br>
    <div class="font-weight-bold">How to make a project private or public?</div>
    <div>When a project is created it is automatically private. In order to change it to public or private again, you need to open the project, go to 'project team' and on the top left there is a slider that changes the project into private or public. </div>
    <br>
    <div class="font-weight-bold">How to export the project data?</div>
    <div>In order to export the project data you need to open your project, go to 'data overview' and click on the 'data export' button. There you can select the format of the exported data file and download the data.</div>
    <br>
</p>
</div>

{% endblock %}