{% extends "datacaptureapp/base.html" %}

{% block content %}
  <br>
    <h1 class="text-center display-4">Frequesntly Asked Questions</h1>
<hr/>
	<br>
<div class="container">
<p class ="text-center">
    <br>
    <div class="font-weight-bold">What is a project?</div>
    <div>Project allows you to focus on certain objects, for example trees, for which you can collect geographical data points and attributes. You are then able to view the objects on a map and export the geographical data and attribute values.</div>
    <br>
    <div class="font-weight-bold">What is an attribute?</div>
    <div>An attribute is a certain characteristic of the object of focus. For example, if a project is focused on trees an attribute can be type or height of a tree.</div>
    <br>
    <div class="font-weight-bold">What types of attributes can be added to a project?</div>
    <div>Text and number. For example if the project is focused on trees, a text attribute can be type of a tree, a number attribute can be the height of a tree.</div>
    <br>
    <div class="font-weight-bold">How to add an attribute when the project is already created?</div>
    <div>Once the project is created it is no longer possible to add new attributes to the project. In that case it is neccessary to create a new project with all the required attributes.</div>
    <br>
    <div class="font-weight-bold">How to add other user to work on my project?</div>
    <div>In order to add other user(s) to your project you need to open your project, go to 'project team' and then you are able to add users by entering their profile email address and clicking 'add team member' button. Then the users need to accept the request to join the project in order to gain access to the project.</div>
   <br>
    <div class="font-weight-bold">How to accept a request to join other user's project?</div>
    <div>Answer</div>
    <br>
    <div class="font-weight-bold">How to remove a user from your project?</div>
    <div>Answer</div>
    <br>
    <div class="font-weight-bold">How to export the project data?</div>
    <div>In order to export the project data you need to open your project, go to 'data overview' and click on the 'data export' button. There you can select the format of the exported data file and download the data.</div>
    <br>
    <div class="font-weight-bold">Question</div>
    <div>Answer</div>
    <br>

</p>

{% endblock %}