{% extends "datacaptureapp/base.html" %}

{% block content %}
    <BR>
    <h1 class="text-center">Feature overview</h1>
    <BR>
    <div class="text-center">
        <button class="text-center btn btn-primary btn-lg" onclick="location.href='../'" type="button"> Back to Map</button>
    </div>
    <BR>
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th scope="col">latitude</th>
                    <th scope="col">longitude</th>
                    {% for attribute in attributes %}
                        <th scope="col"> {{ attribute.name }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% for value in overview.values %}
                        <tr>
                        {% for data in value.values %}
                            <td>{{ data }}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}