{% extends "datacaptureapp/base.html" %}

{% block content %}
    <BR>
    <h1 class="text-center">Feature overview</h1>
    <BR>
    <div class="text-center">
        <button class="text-center btn btn-primary btn-lg" onclick="location.href='../project'" type="button"> Back to Map</button>
    </div>
    <BR>
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table table-responsive">
                {% for datapoint in data %}
                    datapoint
                {% endfor %}
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Type</th>
                    <th scope="col">Height</th>
                    <th scope="col">Date created</th>
                    <th scope="col">Creator</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Oak</td>
                    <td>3</td>
                    <td>9-10-2020</td>
                    <td>Piet</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Pine Tree</td>
                    <td>3</td>
                    <td>9-10-2020</td>
                    <td>Piet</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}