{% extends "datacaptureapp/base.html" %}

<!--
    This is the code for the page which deals with adding attributes to the project. It takes the data from the form on the website and adds it to the database of the corresponding project.
 !-->

{% block content %}
    <h3 id="helpIcon" tabindex="0" class="pull-right" data-toggle="popover" style="margin-left:5px"
        data-placement="left" data-trigger=focus" aria-hidden=true" data-html="true"
        title="Adding Attributes"
        data-content="<b> Defining an attribute </b> <br>
        Add an attribute to the project by filling in its name, description and data type. In case of a text data type you can specify in the description the possible options and in case of a number data type you can specify the unit.
        <br> For example: <br> Type of tree - Oak, Den - Text <br> Height of tree - meters - Number
        <br>
        <br>
        <b> Adding multiple attributes</b> <br>
        Attributes are created one at a time. After clicking 'Save attribute' you can continue to the next one. If all the attributes are added click 'Go to Project' to visit the project page.
         ">
        <span class="fa fa-question-circle" style="color:grey; margin-right:10px"></span>
    </h3>
    <br>
    <h1 class="text-center" style="font-size:min(5vw, 50px); font-family:'Calibri'">Adding Attributes</h1>
    <hr/>
    <br>


    <form method="POST" id="addAttribute">
        {% csrf_token %}
        <div class="form-group">
            <div class="container center_div">
                <div class="text-center">
                        <div class="alert alert-info" role="alert">
                          Note: Don't forget to click 'Save attribute' to finish adding you attribute to the project!
                        </div>
                    <a href="../" class="btn btn-outline-danger btn-lg">Go to project</a>
                </div>
                <label for="name">Name</label>
                {{ form.name }}
                <div class="form-group">
                    <br>
                    <label for="description">Description</label>
                    {{ form.description }}
                </div>
                <div class="form-group">
                    <label for="type">Type of data</label>
                    {{ form.type }}
                </div>
                <button type="submit" class="btn btn-info btn-lg"> Save attribute </button>

                <div class="modal fade" id="addAttribute" tabindex="-1" role="dialog" aria-labelledby="#addAttribute" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Attribute successfully added!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}