{% extends "datacaptureapp/base.html" %}

{% block content %}
  <BR>
    <h1 class="text-center">Adding Attributes</h1>
	<BR>
  <div class="alert alert-info text-center" role="alert">
  Note: attributes are created one at a time an this is the only moment you can add them!
</div>
	<form action="../project">
  <div class="form-group">
      <div class="container center_div">
        <label for="ProjectName">Name</label>
        <input type="email" class="form-control" id="ProjectName" aria-describedby="emailHelp" placeholder="Entername">
      <div class="form-group">
          <br>
        <label for="ProjectDescription">Description</label>
        <input type="password" class="form-control" id="ProjectDescription" placeholder="Desciption">
      </div>
            <div class="form-group">
    <label for="exampleFormControlSelect1">Type of data</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Text</option>
      <option>Integer</option>
    </select>
  </div>
         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAttribute">
  Save attribute
</button>
                    <button  type="submit" class="btn btn-primary">Save project</button>

        <div class="modal fade" id="addAttribute" tabindex="-1" role="dialog" aria-labelledby="#addAttribute" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Attribute successfully added!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  </div>
  </div>
</form>

{% endblock %}