{% extends "datacaptureapp/base.html" %}

{% block content %}
    <div class="home">
        <h3 id="helpIcon" tabindex="0" class="pull-right" data-toggle="popover" style="margin-left:5px; margin-top:2px"
            data-placement="left" data-trigger=focus" aria-hidden=true" data-html="true"
            title="Home Page"
            data-content="<b> Open project </b> <br>
            The overview of your projects is visible below 'Your Projects'. Click on a project to visit its page. To open a project with a project ID click 'Go to existing project' and enter the project ID<br>
            <br>
            <b> Create project </b> <br>
            To create a new project click the button 'Create new Project'. You will be redirected to a page where you can define the specifications.">
            <span class="fa fa-question-circle" style="color:grey; margin-right:10px"></span>
        </h3>
    <br/>
        <div class="container">
        <div class="col-md-12">
            <h1 class="text-center" style="font-size:min(5vw, 50px); font-family:'Calibri'" >Choose your project below</h1>
            <hr/>
            <BR>
                <div class ="text-center">
                    <div class="btn-group-vertical ">
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#gotoproject"><i class="fa fa-arrow-right" aria-hidden="true"></i> Go to Existing project  </button>
                        <button onclick="location.href='new'" type="button" class="btn btn-light btn-lg" ><i class="fa fa-plus"> </i> Create new Project</button>
                    </div>
                </div>

            <div class="modal fade" id="gotoproject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Project ID</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">

                            <!-- Go to project by ID -->

                            {#        <form id="getProjectByID">#}
                            <div class="form-group">
                                <label for="project_id" class="col-form-label">Enter Project ID</label>
                                <input type="number" step="1" class="form-control" name="project_id" id="project_id">
                            </div>
                            <div class="modal-footer">
                                <button onclick="goToProjectById()" class="btn btn-info" id="goToProjectById">Submit</button>
                            </div>
                            {#</form>#}
                        </div>
                    </div>
                </div>
            </div>
            <br>
                    <h1 class="text-center" style="font-size:min(5vw, 50px);font-family:'Calibri'">{{ user.username }}'s projects </h1>
                    <hr/>
                    <div class="text-center"  style="font-size:min(5vw, 50px);">
                        {% for project in  projects %}
                            <a class="btn btn-info btn-lg" role="button" href="{% url 'project' project.id %}" style="margin-top:15px; margin-left:5px"> <i class="fa fa-folder" aria-hidden="true"></i> {{ project.name }}</a>
                        {% endfor %}

                    </div>
            </div>
        </div>
    </div>
    <script>
        function goToProjectById() {
            var id = document.getElementById('project_id').value;
            location.href= ("/projects/" + id + "/");
        }
    </script>

{% endblock %}

