{% extends "datacaptureapp/base.html" %}

{% block content %}

  <BR>
    <h1 class="text-center display-4">Sign in</h1>
<hr/>
	<BR>

    <div class="form-group">
        <div class="container center_div">
            <label for="username">Username</label>
            <input type="name" class="form-control" id="ProjectName" aria-describedby="emailHelp" placeholder="Enter username">
            <div class="form-group">
                <br>
                <label for="password">Password</label>
                <input type="password" class="form-control" id="ProjectDescription" placeholder="Enter password">
            </div>

      <button  type="submit" onclick="location.href='../newprofile'" class="btn btn-info">Register</button>
      <button  type="submit" onclick="location.href='../profile'" class="btn btn-info">Sign in</button>


        </div>
    </div>


{% endblock %}

