{% extends "datacaptureapp/base.html" %}

{% block content %}
  <BR>

    <h1 class="text-center display-4">New Project</h1>
<hr/>
	<BR>
	<form method="POST">
  <div class="form-group">
      {% csrf_token %}
      <div class="container center_div">
        <label for="name">Project Name</label>
          <i tabindex="0" class="fa fa-question-circle" data-container="body" data-toggle="popover"  data-placement="right" data-trigger=focus" data-content="Add a name and description for your new project" aria-hidden=true"></i>
        {{ form.name }}
      <div class="form-group">
        <label for="Description">Description</label>
        {{ form.description }}
      </div>
        <button  type="submit" class="btn btn-info"> Create Form <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
</svg> </button>
  </div>
  </div>
</form>
<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})

$('.popover-dismiss').popover({
  trigger: 'focus'
})
</script>

{% endblock %}