{% extends "datacaptureapp/base.html" %}

{% block content %}

  <BR>
    <h1 class="text-center">New Account</h1>
	<BR>

  <div class="form-group">
      <div class="container center_div">
        <label for="username">Username</label>
        <input type="username" class="form-control" id="UserName" aria-describedby="emailHelp" placeholder="Create username">
      <div class="form-group">
          <br>
        <label for="email">Email</label>
        <input type="email" class="form-control" id="Email" placeholder="Enter email address">
          <div class="form-group">
          <br>
        <label for="password">Password</label>
        <input type="password" class="form-control" id="Password" placeholder="Create password">
      </div>

      <button  type="submit" onclick="location.href='../login'" class="btn btn-primary">Create Account</button>


  </div>
  </div>


{% endblock %}

