{% extends "datacaptureapp/base.html" %}

<!--
    This code displays the information about the current user.
 !-->


{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <a href="../">
                    <button type="button" class="btn mb-1 text-secondary"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Return to home</button>
                </a>
            </div>
            <div class="col">
                <h3 id="helpIcon" tabindex="0" class="pull-right" data-toggle="popover" style="margin-left:5px; margin-top:2px"
                    data-placement="left" data-trigger=focus" aria-hidden=true" data-html="true"
                    title="Profile"
                    data-content="<b> Profile Data </b> <br>
        An overview of your data is shown in the table on this page.
        <br>
        <br>
        <b> Edit profile data </b> <br>
        To edit your profile data click the 'Edit profile' button.">
                    <span class="fa fa-question-circle" style="color:grey; margin-right:10px"></span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="text-center" style="font-size:min(5vw, 50px);font-family:'Calibri'">{{ user.username }}'s profile</h1>
            </div>
        </div>
    </div>


    <div class="container">
        <hr/>
        <br>
        <div class="row-justify-content-center">
            <div class="col sm auto">
                <table class="table table-center table-unbordered  text-muted">
                    <tbody>
                    <tr>
                        <th scope="row">Username</th>
                        <td>{{user.username}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>{{user.email}}</td>

                    </tr>
                    <tr>
                        <th scope="row">User since</th>
                        <td> {{user.date_joined}}</td>

                    </tr>
                    <tr>
                        <th scope="row">Last login</th>
                        <td>{{user.last_login}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="text-center">
        <a href='{% url 'edit-profile' %}' type="button" class="btn btn-info"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit profile</a>
    </div>

{% endblock %}