{% extends "datacaptureapp/base.html" %}

{% block content %}
  <BR>
    <h1 class="text-center">[Project Name]</h1>

	<div class ="text-center">

<button class="text-center btn btn-primary btn-lg" onclick="getLocation()">Get Coordinates</button>

<p id="demo"></p>
        <BR>
        <button onclick="location.href='../addfeature'" class="text-center btn btn-primary btn-lg"  type="button"><i class="fa fa-plus"> </i> Add Data</button>
	</div>

<script>
var x = document.getElementById("demo");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude +
  "<br>Longitude: " + position.coords.longitude;
}
</script>

  	<BR>
{% load static %}
  <img src="{% static 'images/mapdummy.jpg' %}" class="img-fluid rounded mx-auto d-block" alt="Responsive image">

  <BR>
 <div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-md-4">
	<h1 > About </h1>
        <BR>
        <h5 > ID:123456 </h5>
        <h5 > Description: asdfilsjhk </h5>
        <h5 > Creation date: 8-10-2020 </h5>
        <h5 > Owner: Piet </h5>

    </div>
    <div class="col-md-4">
     <h1> Data Overview </h1>
        		<div class="btn-group-vertical ">

        <button onclick="location.href='../featureoverview'" class="text-center btn btn-primary btn-lg"  type="button"> See full overview</button>

        <button class="text-center btn btn-danger btn-lg"  type="button"> Export Data</button>
                </div>
    </div>
  </div>
</div>

{% endblock %}