{% extends "datacaptureapp/base.html" %}

<!--
    This code displays the current member of the project team and allows users to add a new member by email.
 !-->

{% block content %}
    <div class="container">
        <br>
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <a href="../">
                        <button type="button" class="btn mb-1 text-secondary"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Return to project</button>
                    </a>
                </div>
                <div class="col">
                    <h3 id="helpIcon" tabindex="0" class="pull-right" data-toggle="popover" style="margin-left:5px"
                        data-placement="left" data-trigger=focus" aria-hidden=true" data-html="true"
                        title="Project Team"
                        data-content="<b> Adding a project member</b> <br>
        Type the email of the member you want to add in the corresponding form and press 'Add team member'. The member should now be visible in the table together with all other members.
        <br>
        <br>
        <b> Public or private</b> <br>
        Change the slider to switch your project between public and private.
        <br>">
                        <span class="fa fa-question-circle" style="color:grey; margin-right:10px"></span>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 class="text-center" style="font-size:min(5vw, 50px);font-family:'Calibri'">Project Team</h1>
                </div>
            </div>
        </div>
        <hr/>
        <br>
    </div>


    <!-- Public private toggle -->
    <div id="is-public" style="display: none;">{{ project.is_public }}</div>
    <div class="container pl-3 pt-3">
        <div class="row">
            <div class="col custom-control custom-switch text-left ml-3" >
                <input change-pp-url="{% url 'project' project.id %}" type="checkbox" class="custom-control-input" id="public-private-toggle">
                <label class="custom-control-label" for="public-private-toggle" id="toggle-label"></label>
            </div>
        </div>
    </div>
    <div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="container pt-5 text-center">

        <!-- Adding team members form -->
        <form method="POST" id="addMember" data-url="{% url 'team' project.id %}">
            {% csrf_token %}
            <div class="input-group mb-3">
                {{ form }}
                <div class="input-group">
                    <button class="text-center btn btn-info" type="submit"><i class="fa fa-plus"> </i> Add team member
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- Team member list -->
    <div class="container py-5">
        <!-- div where messages are inserted -->
        <div id="div_messages"></div>
        <table class="table py-3" id="team-members">
            <thead>
            <tr>
                <th scope="col">e-mail</th>
                <th scope="col">name</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                        <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        <path fill-rule="evenodd"
                              d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                    </svg>
                    {{ owner.email }}</td>
                <td>{{ owner.username }}</td>
            </tr>
            {% for member in team %}
                <tr>
                    <td id="email">{{ member.email }}</td>
                    <td>{{ member.username }}</td>
                    <td style="border:none;"><a id="remove-member" data-toggle="modal" data-target="#remove{{ member.id }}" class="close"
                                                aria-label="Close" style=" color: red; opacity: 1;" type="button">
                        <span aria-hidden="true">&times;</span>
                    </a></td>
                </tr>
                <div class="modal fade" id="remove{{ member.id }}" tabindex="-1" role="dialog"
                     aria-labelledby="removeMember{{ member.id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Remove member</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">Are you sure you want to remove this member?</div>
                            <div class="modal-footer">
                                <a onclick="remove_member({{ member.id }})" class="btn btn-danger" aria-label="Yes"
                                   type="button">Yes</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
    const csrf = '{{ csrf_token }}';
    const url_remove_member = '{% url 'team' project.id %}';
    </script>
    {% load static %}
    <script type="text/javascript" src="{% static '/javascript/remove-member.js' %}"></script>
    <script type="text/javascript" src="{% static '/javascript/change-public-private.js' %}"></script>
    <script type="text/javascript" src="{% static '/javascript/add-member.js' %}"></script>



{% endblock %}