{% extends "datacaptureapp/base.html" %}

{% block content %}
    <h3 id="helpIcon" tabindex="0" class="pull-right" data-toggle="popover" style="margin-left:5px"
        data-placement="left" data-trigger=focus" aria-hidden=true" data-html="true"
        title="Project Team"
        data-content="<b> Adding a project member</b> <br>
        Type the email of the member you want to add in the corresponding form and press 'Add team member'. The member should now be visible in the table together with all other members.
        <br>">
        <span class="fa fa-question-circle" style="color:grey; margin-right:10px"></span>
    </h3>
    <br>
    <h1 class="text-center" style="font-size:min(5vw, 50px);font-family:'Calibri'">Project Team</h1>
    <hr/>

    <!-- Public private toggle -->
    <div id="is-public" style="display: none;">{{ project.is_public }}</div>
    <div class="container pt-5 text-left">
        <div class="custom-control custom-switch">
            <input change-pp-url="{% url 'project' project.id %}" type="checkbox" class="custom-control-input" id="public-private-toggle">
            <label class="custom-control-label" for="public-private-toggle" id="toggle-label"></label>
        </div>
    </div>

    <div class="container pt-5 text-center">
        <!-- div where messages are inserted -->
        <div id="div_messages"></div>

        <!-- Adding team members form -->
        <form method="POST" id="addMember" data-url="{% url 'team' project.id %}">
            {% csrf_token %}

            <div class="input-group mb-3">
                {{ form }}
                <div class="input-group">
                    <button class="text-center btn btn-info" type="submit"><i class="fa fa-plus"> </i> Add team member
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- Team member list -->

    <div class="container py-5">
        <table class="table py-3" id="team-members">
            <thead>
            <tr>
                <th scope="col">e-mail</th>
                <th scope="col">name</th>
            </tr>
            </thead>
            <tbody>
            {% for member in team %}
                <tr>
                    <td>{{ member.email }}</td>
                    <td>{{ member.username }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <script>
        ppToggle = $("#public-private-toggle");
        toggleLabel = $("#toggle-label");

        if ($("#is-public").html() == 'True') {
            toggleLabel.html("Project is <b>public</b>")
            ppToggle.prop('checked', true);
        } else {
            toggleLabel.html("Project is <b>private</b>");
        }

        ppToggle.on('change', function () {
            const url = $(this).attr('change-pp-url');
            const is_public = ppToggle.is(":checked") ? 'True' : 'False';
            const csrf_token = '{{csrf_token}}';
            console.log(is_public)
                $.ajax({
                    type: 'POST',
                    headers: {"X-CSRFToken": csrf_token},
                    url: url,
                    data: {'is_public': is_public},
                    success: function (response) {
                        console.log("succes");
                        if(response.is_public) {
                            toggleLabel.html("Project is <b>public</b>");
                        }  else {
                            toggleLabel.html("Project is <b>private</b>");
                        }
                    }

                })
            }
        );





        // When someone tries to add a member (submit the form)
        $("#addMember").submit(function (e) {

            e.preventDefault(); // avoid to execute the actual submit of the form.

            var form = $(this);
            var url = $(this).attr('data-url');

            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function (data) {
                    success = data.success;
                    update_messages(data.messages);
                    if (data.email && data.username) {
                        update_member_table(data.email, data.username)
                    }
                }
            });


        });

        function update_messages(messages) {
            $("#div_messages").html("");
            $.each(messages, function (i, m) {
                switch (m.extra_tags) {
                    case 'success':
                        $("#div_messages").append("<div class='alert alert-success' role='alert'>" + m.message + "</div>");
                        break;
                    case 'error':
                        $("#div_messages").append("<div class='alert alert-danger' role='alert'>" + m.message + "</div>");

                }

            });
        }

        function update_member_table(email, username) {
            $("#team-members tbody").append(
                "<tr><td>" + email + "</td><td>" + username + "</td></tr>"
            )
        }

    </script>
{% endblock %}