{% extends "datacaptureapp/base.html" %}

{% block content %}
    <h3 id="helpIcon" tabindex="0" class="pull-right" data-toggle="popover" style="margin-left:5px"
        data-placement="left" data-trigger=focus" aria-hidden=true" data-html="true"
        title="Project Team"
        data-content="<b> Adding a project member</b> <br>
        Type the email of the member you want to add in the corresponding form and press 'Add team member'. The member should now be visible in the table together with all other members.
        <br>">
        <span class="fa fa-question-circle" style="color:grey; margin-right:10px"></span>
    </h3>
<br>
    <h1 class="text-center" style="font-size:min(5vw, 50px);font-family:'Calibri'">Project Team</h1>
<hr/>

    <div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    </div>



    <div class="container pt-5 text-center">
        <div id="div_messages">

        </div>
        <form  method="POST" id="addMember" data-url="{% url 'team' project.id %}">
            {% csrf_token %}

            <div class="input-group mb-3">
                {{ form }}
                <div class="input-group">
                    <button class="text-center btn btn-info" type="submit"><i class="fa fa-plus"> </i> Add team member
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="container py-5">
            <table class="table py-3" id="team-members">
                <thead>
                <tr>
                    <th scope="col">e-mail</th>
                    <th scope="col">name</th>
                </tr>
                </thead>
                <tbody>
                {% for member in team %}
                    <tr>
                        <td>{{ member.email }}</td>
                        <td>{{ member.username }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>


    <script>
        $("#addMember").submit(function (e) {

            e.preventDefault(); // avoid to execute the actual submit of the form.

            var form = $(this);
            var url = $(this).attr('data-url');

            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function (data) {
                    success = data.success;
                    update_messages(data.messages);
                    if (data.email && data.username) {
                        update_member_table(data.email, data.username)
                    }
                }
            });


        });

        function update_messages(messages){
            $("#div_messages").html("");
            $.each(messages, function (i, m) {
                switch (m.extra_tags) {
                    case 'success':
                        $("#div_messages").append("<div class='alert alert-success' role='alert'>"+m.message+"</div>");
                        break;
                    case 'error':
                        $("#div_messages").append("<div class='alert alert-danger' role='alert'>"+m.message+"</div>");

                }

            });
        }

        function update_member_table(email, username) {
            $("#team-members tbody").append(
                "<tr><td>" + email + "</td><td>" + username + "</td></tr>"
            )
        }

    </script>
{% endblock %}