<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Project Overview</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">GeoApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href='home.html '><i class="fa fa-home"> </i> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-user"> </i> Profile</a>
      </li>
    </ul>
  </div>
</nav>
  <BR>
    <h1 class="text-center">[Project Name]</h1>

	<div class ="text-center">

<button class="text-center btn btn-primary btn-lg" onclick="getLocation()">Get Coordinates</button>

<p id="demo"></p>
        <BR>
        <button onclick="location.href='AddFeature.html'" class="text-center btn btn-primary btn-lg"  type="button"><i class="fa fa-plus"> </i> Add Data</button>
	</div>

<script>
var x = document.getElementById("demo");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude +
  "<br>Longitude: " + position.coords.longitude;
}
</script>

  	<BR>
  <img src="images/mapdummy.jpg" class="img-fluid rounded mx-auto d-block" alt="Responsive image">

  <BR>
 <div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
	<h1 class="text-left"> About </h1>
        <BR>
        <h5 class="text-left"> ID:123456 </h5>
        <h5 class="text-left"> Description: asdfilsjhk </h5>
        <h5 class="text-left"> Creation date: 8-10-2020 </h5>
        <h5 class="text-left"> Owner: Piet </h5>

    </div>
    <div class="col-md-4">
     <h1 class="text-left"> Data Overview </h1>
        		<div class="btn-group-vertical ">

        <button onclick="location.href='FeatureOverview.html'" class="text-center btn btn-primary btn-lg"  type="button"> See full overview</button>

        <button class="text-center btn btn-danger btn-lg"  type="button"> Export Data</button>
                </div>
    </div>
  </div>
</div>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 </body>
</html>