{% extends "datacaptureapp/base.html" %}

{% block content %}

<h3 id="helpIcon" tabindex="0" class="pull-right" data-toggle="popover" style="margin-left:5px"
        data-placement="left" data-trigger=focus" aria-hidden=true" data-html="true"
        title="Project Team"
        data-content="<b> Adding a project member</b> <br>
        Type the email of the member you want to add in the corresponding form and press 'Add team member'. The member should now be visible in the table together with all other members.
        <br>">
        <span class="fa fa-question-circle" style="color:grey; margin-right:10px"></span>
    </h3>
    <br>
    <h1 class="text-center" style="font-size:min(5vw, 50px);font-family:'Calibri'">Public Projects</h1>
    <hr/>


    <!-- Public private toggle -->
    <div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="container pt-5 text-center">
        <!-- div where messages are inserted -->
        <div id="div_messages"></div>



    <!-- Public projects list -->
<input class="form-control" type="text" id="search-table" placeholder="Search through public projects">
    <div class="container py-3">
        <table class="table py-5" id="public-projects">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">name</th>
                    <th scope="col" id="go-to-project">go to project</th>
                </tr>
            </thead>
            <tbody>
            {% for project in public_projects %}
                <tr>
                    <td style="width: 10%">{{ project.id }}</td>
                    <td>{{ project.name }}</td>
                    <td><button type="button" class="btn btn-info btn-sm" onclick="location.href='{% url 'project' project.id %}'"><i class="fa fa-arrow-right" aria-hidden="true"></i></button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination-div">
            <nav>
                <ul class="pagination"></ul>
            </nav>
        </div>
    </div>

    <script>


    $(document).ready(function () {
        $("#search-table").on("keyup", function () {
            let input = $(this).val();
            $("#public-projects tr").filter(function () {
                if($(this).parent().is("tbody")) {
                    $(this).toggle($(this).text().indexOf(input) > -1)
                }

            });
        });

    });

    const table = "#public-projects"
    $('.pagination').html('')
    let rowNum = 0;
    const maxRows = 10;
    let totalRows = $(table+' tbody tr').length
    $(table+' tr:gt(0)').each(function () {
        rowNum++
        if (rowNum > maxRows) {
            $(this).hide()
        } else {
            $(this).show()
        }
    })
    if(totalRows > maxRows) {
        let pageNum = Math.ceil(totalRows/maxRows)
        for (let i = 1; i <= pageNum;) {
            $('.pagination').append('<li class="page-item" data-page="'+i+'">\<span class="page-link">'+ i++ +'<span class="sr-only">(current)</span></span>\</li>').show()
        }
    }
    $('.pagination li:first-child').addClass('active')
    $('.pagination li').on('click', function () {
        let pageNum = $(this).attr('data-page')
        let rowIndex = 0;
        $('.pagination li').removeClass('active')
        $(table+' tr:gt(0)').each(function () {
            rowIndex++
            if(rowIndex > (maxRows*pageNum) || rowIndex <= ((maxRows*pageNum)-maxRows)) {
                $(this).hide()
            } else {
                $(this).show()
            }
        })
    })




    </script>



{% endblock %}

